.footer {
  background-color: #1c0038;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  margin: 0 10px;
  font-size: 14px;
}

.footer-links a:hover {
  color: white;
}
