.footer {
  background: linear-gradient(90deg, #1c0038, #350075);
  color: white;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  margin: 0 10px;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: white;
}
